In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
df2019 = pd.read_csv('2019.csv')
df2018 = pd.read_csv('2018.csv')

#    2019 verisinin genel özellileri:


Ölçüm gerçekleşen ülke sayısı=>

In [18]:
df2019.shape[0]

156

Ülkelerin araştırılan özellikleri=>

In [19]:
df2019.shape[1]-1

8

### 2019 yılı için dünyanın en mutlu 10 ülkesi

In [20]:
df2019.head(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226

### Kişibaşı gelirin en yüksek olduğu ülke sıralaması

In [21]:
df2019.sort_values('GDP per capita',ascending=False)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
28,29,Qatar,6.374,1.684,1.313,0.871,0.555,0.220,0.167
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453
20,21,United Arab Emirates,6.825,1.503,1.310,0.825,0.598,0.262,0.182
50,51,Kuwait,6.021,1.500,1.319,0.808,0.493,0.142,0.097
...,...,...,...,...,...,...,...,...,...
126,127,Congo (Kinshasa),4.418,0.094,1.125,0.357,0.269,0.212,0.053
140,141,Liberia,3.975,0.073,0.922,0.443,0.370,0.233,0.033
144,145,Burundi,3.775,0.046,0.447,0.380,0.220,0.176,0.180
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
111,112,Somalia,4.668,0.000,0.698,0.268,0.559,0.243,0.270

### Sosyal desteğin en yüksek olduğu ülke sıralaması

In [22]:
df2019.sort_values('Social support',ascending=False)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
...,...,...,...,...,...,...,...,...,...
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
144,145,Burundi,3.775,0.046,0.447,0.380,0.220,0.176,0.180
101,102,Benin,4.883,0.393,0.437,0.397,0.349,0.175,0.082
148,149,Syria,3.462,0.619,0.378,0.440,0.013,0.331,0.141
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035

### Sağlığa yaşamda en yüksek ülke sıralaması

In [23]:
df2019.sort_values('Healthy life expectancy',ascending=False)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453
75,76,Hong Kong,5.430,1.438,1.277,1.122,0.440,0.258,0.287
57,58,Japan,5.886,1.327,1.419,1.088,0.445,0.069,0.140
29,30,Spain,6.354,1.286,1.484,1.062,0.362,0.153,0.079
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
...,...,...,...,...,...,...,...,...,...
98,99,Ivory Coast,4.944,0.569,0.808,0.232,0.352,0.154,0.090
131,132,Chad,4.350,0.350,0.766,0.192,0.174,0.198,0.078
143,144,Lesotho,3.802,0.489,1.169,0.168,0.359,0.107,0.093
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
134,135,Swaziland,4.212,0.811,1.149,0.000,0.313,0.074,0.135

### Seçimlerde özgürlüğe göre en yüksek ülke sıralaması

In [24]:
df2019.sort_values('Freedom to make life choices',ascending=False)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
40,41,Uzbekistan,6.174,0.745,1.529,0.756,0.631,0.322,0.240
108,109,Cambodia,4.700,0.574,1.122,0.637,0.609,0.232,0.062
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
20,21,United Arab Emirates,6.825,1.503,1.310,0.825,0.598,0.262,0.182
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
...,...,...,...,...,...,...,...,...,...
121,122,Mauritania,4.490,0.570,1.167,0.489,0.066,0.106,0.088
146,147,Haiti,3.597,0.323,0.688,0.449,0.026,0.419,0.110
148,149,Syria,3.462,0.619,0.378,0.440,0.013,0.331,0.141
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025

### Gerçekleşen bağışa göre en yüksek ülke sıralaması

In [25]:
df2019.sort_values('Generosity',ascending=False)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
130,131,Myanmar,4.360,0.710,1.181,0.555,0.525,0.566,0.172
91,92,Indonesia,5.192,0.931,1.203,0.660,0.491,0.498,0.028
146,147,Haiti,3.597,0.323,0.688,0.449,0.026,0.419,0.110
21,22,Malta,6.726,1.300,1.520,0.999,0.564,0.375,0.151
120,121,Kenya,4.509,0.512,0.983,0.581,0.431,0.372,0.053
...,...,...,...,...,...,...,...,...,...
41,42,Lithuania,6.149,1.238,1.515,0.818,0.291,0.043,0.042
88,89,Morocco,5.208,0.801,0.782,0.782,0.418,0.036,0.076
89,90,Azerbaijan,5.208,1.043,1.147,0.769,0.351,0.035,0.182
147,148,Botswana,3.488,1.041,1.145,0.538,0.455,0.025,0.100
81,82,Greece,5.287,1.181,1.156,0.999,0.067,0.000,0.034

### Yolsuzluk algılarına göre ülke sıralaması(Azdan Çoğa)

In [26]:
df2019.sort_values('Perceptions of corruption',ascending=False)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
...,...,...,...,...,...,...,...,...,...
77,78,Bosnia and Herzegovina,5.386,0.945,1.212,0.845,0.212,0.263,0.006
45,46,Kosovo,6.100,0.882,1.232,0.758,0.489,0.262,0.006
47,48,Romania,6.070,1.162,1.232,0.825,0.462,0.083,0.005
96,97,Bulgaria,5.011,1.092,1.513,0.815,0.311,0.081,0.004
70,71,Moldova,5.529,0.685,1.328,0.739,0.245,0.181,0.000

In [150]:
city8n=[]
city8=[]
for i in range(156):
    city8n.append(df2018.loc[i,"Country or region"])
    city8.append(df2018.loc[i,"Country or region"])
    city8.append(df2018.loc[i,"Score"])
city9=[]
for i in range(156):
    city9.append(df2019.loc[i,"Country or region"])
    city9.append(df2019.loc[i,"Score"])

In [243]:
a=0
fark=[]
fark1=[]
fark2=[]
for i in range(152):
    for x in range(len(city9)):
        if city8n[i]==city9[x]: 
            fark.append(city8n[i])
            fark.append(int(((city9[x+1])*1000)-((city8[(i*2)+1])*1000)))
            fark1.append(int(((city9[x+1])*1000)-((city8[(i*2)+1])*1000)))
            fark2.append(int(((city9[x+1])*1000)-((city8[(i*2)+1])*1000)))
fark1.sort()
fark2.sort(reverse=True)

In [259]:
sehirler=[]
for i in range(10):
    for x in range(len(fark)):
        if fark2[i]==fark[x]:
            sehirler.append(fark[x-1])

In [260]:
sehirler

['Benin',
 'Guinea',
 'Liberia',
 'Niger',
 'Kosovo',
 'Honduras',
 'Ghana',
 'Israel',
 'Cyprus',
 'Portugal']

Mutluluğu en çok artan ülkeler. Azalan sıralı. Rekor Benin'de.

In [261]:
sehirler=[]
for i in range(10):
    for x in range(len(fark)):
        if fark1[i]==fark[x]:
            sehirler.append(fark[x-1])

In [263]:
sehirler

['Malaysia',
 'Afghanistan',
 'Turkmenistan',
 'Somalia',
 'Argentina',
 'Zambia',
 'Jordan',
 'Egypt',
 'Sierra Leone',
 'Malawi']

Mutluluğu en çok azalan ülkeler. Azalan sıralı. Rekor Malaysia'da.